/emu_core/build
/roms/
/saves/
cpu_trace.log
vram_dump.txt
.idea
.DS_Store
/cmake-build-debug/
/emu_core/cmake-build-debug/
/emu_core/src/cmake-build-debug/

# Logs
emu_launcher/logs
emu_launcher/*.log
emu_launcher/npm-debug.log*
emu_launcher/yarn-debug.log*
emu_launcher/yarn-error.log*
emu_launcher/pnpm-debug.log*
emu_launcher/lerna-debug.log*

emu_launcher/node_modules
emu_launcher/dist
emu_launcher/dist-ssr
emu_launcher/*.local

# Editor directories and files
emu_launcher/.vscode/*
emu_launcher/!.vscode/extensions.json
emu_launcher/.idea
emu_launcher/.DS_Store
emu_launcher/*.suo
emu_launcher/*.ntvs*
emu_launcher/*.njsproj
emu_launcher/*.sln
emu_launcher/*.sw?
